/*
 Theme Name:   Storefront Child
 Description:  a child theme for stonefront
 Author:       hojak
 Template:     Storefront
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  storefront
*/ 
body {
    background-color: #e6e6e6
}
.alpha, .beta, .delta, .gamma {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: black;
}

.site-footer {
    background-color: #303030;
}
/*body*/

/*nav*/

/*header*/
.woocommerce-loop-product__title{
    color: black;
}
h2{
    color: black;
}
/*icongraphy*/ 

/*buttons*/
.product_type_simple{
    background-color: black;
    color: white;
    border-radius: 5px;
}

.forsideknap{
    background-color: #0000;
    border-radius: 5px;
    color: #ffff;
}
/*sale*/

.wc-block-grid__product-onsale, .onsale {
    background-color:  yellow;
    color: black;
}
/*footer*/




